body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
}

h1{
    text-align: center;
}

.formGroup {
  margin-bottom: 15px;
}

li {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    list-style: none;
}

.formGroup input:invalid {
  border-color: #e74c3c; /* Light red for invalid built-in states */
}

.formGroup textarea:invalid {
  border-color: #e74c3c; /* Light red for invalid built-in states */
}

.formGroup .errorSpan {
  display: block;
  color: #e74c3c; /* Red for error messages */
  font-size: 0.9em;
  margin-top: 5px;
  min-height: 1em; /* Reserve space to prevent layout shifts */
}